body {
  background-color: rgb(203, 216, 216);
}
th {
  border: 2px double rgb(10, 7, 27);

  text-align: center;
}

table,
td {
  border: 2px double rgb(10, 7, 27);

  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.contact:hover {
  cursor: pointer;
  background-color: #e0ffff;
}
.back {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.allrows {
  font-size: 1.4rem;
  font-weight: bold;
}
.thead-m {
  font-size: 1.5rem;
  font-style: italic;
  color: #e0ffff;
  background-color: rgb(80, 80, 80);
}
.button {
  padding: 1.5rem 2.5rem;
  background-color: rgb(10, 7, 27);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  float: left;
  margin: 10px;
  margin-left: 0rem;
  font-weight: 500;
  font-size: 15px;
}
.button:hover {
  background-color: rgb(126, 116, 101);
}
