<!DOCTYPE html> 
<html  xmlns:th="http://www.thymeleaf.org">

	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="PrimeAuto"
    />
	<title>Home Menu</title>
	

	  <link href="header.css" rel="stylesheet" type="text/css">
      <link href="rows.css" rel="stylesheet" type="text/css">
	
	
	
	</head> 
	
<body>
<header>
    
  
  <div th:replace="header :: header"> </div>

		<div>
		
		
			 <table class="table table-bordered table-striped">
				<thead class="thead-m">
				<th>Brand </th>
				<th>Model </th>
				<th>HorsePower</th>
				<th>Mileage</th>
				<th>Cubics</th>
				<th>Color</th>
				<th>Fuel</th>
				<th>Transmission</th>	
				<th>Price</th>
				<th>Id</th>
				<th>Contacts</th>	
		
			</thead>
			<tbody class="allrows">
				
				<tr th:each ="aCar : ${cars}">		
					<td th:text = "${aCar.brand}">				
					<td th:text = "${aCar.model}">
					<td th:text = "${aCar.hp}">
					<td th:text = "${aCar.mileage}">
					<td th:text = "${aCar.cubic}">
					<td th:text = "${aCar.color}">
					<td th:text = "${aCar.fuel}">
					<td th:text = "${aCar.transmission}">
					<td th:text = "${aCar.price}">
					<td th:text = "${aCar.id}">
					<td class= "contact" onclick="window.location='/contacts';">More</td>
				</tr>
		
				
				
			</tbody>
				
			
			</table>		
		
		</div>
	
</body>