<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Travelly is a travel agency website that helps you pick out your holiday vacation"
    />
    <meta name="robots" content="index,follow" />
   
    <link
      href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="header.css" />
   
    <title>PrimeAuto</title>
  </head>
  <body>
  <div th:fragment="header">
  </div>



    <header class="main-head">
    
        <nav>
            <h1 id="logo">PrimeAuto</h1>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/cars">Cars</a></li>
              <li><a href="/motors">Motorcycles</a></li>
              <li><a href="/contacts">Contacts</a></li>
              <li><a href="/profile">My Profile</a></li>
            </ul>
          </nav>
        </header>
    </header>
    
</body>
</html>



